.tooltip-container {
  display: inline-block;
  position: relative;
}
.tooltip-container:hover .tooltip {
  display: block;
}

.tooltip-link {
  background: #f9f9f9;
}

.tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 18em;
  padding: 1rem;
  background: white;
  border: 1px solid gray;
  box-shadow: 0.3em 0.3em 1em 0 rgba(0, 0, 0, 0.2);
}
.tooltip h2 {
  margin-top: 0;
}
@media all and (min-width: 24em) {
  .tooltip {
    width: 22em;
  }
}
@media all and (min-width: 29.75em) {
  .tooltip {
    width: 27em;
  }
}
@media all and (min-width: 39.8em) {
  .tooltip {
    width: 30em;
  }
}
